<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>			
			<h1>
				<%= gravatar_for @user, size: 80 %>
				Welcome, <%= @user.name %>
			</h1>

				<% if @user.accounts.any? %>
					<% if @user.networth.nil? %>
						<span class="networthzero">
					<% elsif @user.networth < 0 %>
						<span class="networthneg">
					<% elsif @user.networth > 0 %>
						<span class="networthpos">
					<% else %>
						<span class="networthzero">
					<% end %>
					Net worth: <%= number_to_currency(@user.networth) %>

				<% else %>
					<span class="networthzero">
						Net worth: <%= number_to_currency(0) %>
				<% end %>
			</span>
		</section>
		<%= @user.email %>
	</aside>
	<div class="span8">
		<% if @user.accounts.any? %>
			<h3>Accounts (<%= @user.accounts.count %>)</h3>
			<ol class="accounts">
				<%= render @accounts %>
			</ol>
			<%= will_paginate @accounts %>
		<% end %>
	</div>
</div>